$color_1: #FF7222;
$color_2: #0C6C2D;
$color_3: #D6E7BF;
$white: #fff;
$black: #000;
$font-family_1: "Montserrat", Tahoma, Verdana, sans-serif;
$font-family_2: inherit;

html {
	margin: 0;
}
body {
	margin: 0;
}
#es-garnier{
    .swiper,
    .swiper-wrapper,
    .swiper-slide {
        width: 100%;
    }

    @media (min-width: 768px) {
        .swiper,
        .swiper-wrapper,
        .swiper-slide {
        }
    }

    .swiper-pagination-bullet {
        width: 8px;
        height: 8px;
        display: inline-block;
        border-radius: 50%;
        background: $white;
        opacity: 50%;
    }

    .swiper-pagination-bullet:not(:last-child) {
        margin-right: 6px;
    }

    .swiper-pagination-bullet-active {
        opacity: 1;
        background: $white;
    }

    .swiper-button-disabled {
        display: none;
    }
    
    .swiper-button-next:after,
    .swiper-button-prev:after {
        display: none;
    }

    .swiper-button-next img {
        transform: rotate(-180deg);
    }

    // @keyframes es-rc-zoom {
    //     0% {
    //         scale: 1;
    //     }
    //     100% {
    //         scale: 1.2;
    //     }
    // }
}
#es-garnier.es-garnier {
	font-family: $font-family_1;
	overflow: hidden;
	max-width: 1300px;
	margin: 0 auto;
	padding: 0;
	* {
		box-sizing: border-box;
	}
	img {
		display: block;
		max-width: 100%;
	}
	p {
		margin: 0;
		padding: 0;
	}
	sup {
		font-size: 0.6em;
	}
	span.bold {
		font-weight: 700;
	}
	span.italic {
		font-style: italic;
	}
	.es-title {
		text-transform: uppercase;
		font-weight: 700;
		font-style: italic;
		font-size: 32px;
		line-height: 1;
		text-align: center;
		text-wrap: balance;
		padding-block: 32px;
	}
	.es-title__orange {
		display: flex;
		flex-direction: column;
		justify-content: center;
		gap: 0.5rem;       
		text-transform: uppercase;
		font-weight: 900;
		font-style: italic;
		font-size: 28px;
		line-height: 1.2;
		text-align: center;
		padding-block: 32px 16px;
		color: $color_1;

		span {
			display: inline-block;
		}
		.green {
			color: $color_2;
		}
	}
	.es-kv {
		color: #fff;
		text-align: center;

		&__logo {
			display: block;
			margin: 0 auto 16px;
			width: 120px;
		}

		.es-kv__logoCtn--garnierImg {
			display: block;
			margin: 5px auto;
			max-width: 100px;
		}
		.es-kv__logoCtn--fructisImg {
			display: block;
			margin: 0 auto;
			max-width: 131px;
		}

		&__inner {
			display: flex;
			flex-direction: column;
			align-items: center;
		}

		// HERO
		&__hero {
			position: relative;
			overflow: hidden;
			width: 100%;

			&::before {
				content: "";
				position: absolute;
				height: 83%;
				width: calc(100% - 32px);
				left: 16px;
				bottom: 0;
				background-color: $color_1;
				border-top-left-radius: 16px;
				border-top-right-radius: 16px;
				z-index: -1;
			}

			.es-kv__avatar {
				display: block;
				width: 100%;
				height: auto;
				border-radius: 8px;
			}

			.es-kv__label {
				position: absolute;
				top: 20%;
				left: 32px;
				width: 20%;
				text-align: left;
				color: $white;
				font-size: 0.75rem;
				font-weight: bold;
				text-transform: uppercase;
				border-bottom: 1px solid $white;
				font-style: italic;
			}

			.es-kv__title {
				position: absolute;
				bottom: 16px;
				left: 32px;
    			right: 16px;
				width: 75%;
				margin: 0;
				font-size: 38px;
				line-height: 38px;
				color: $white;
				font-weight: 900;
				text-transform: uppercase;
				text-align: left;
				font-style: italic;
			}
		}

		// PRODUCTS + BADGE
		&__products-container {
			margin-top: -40px;
			position: relative;
			z-index: 1;
			display: flex;
			flex-direction: row-reverse;
			align-items: center;
			justify-content: flex-end;
			width: 100%;

			.es-kv__products-img {
				display: block;
				width: 170px;
				max-width: 100%;
				height: auto;
			}
			.es-kv__badge {
				margin-top: 12px;
				font-size: 25px;
				line-height: 28px;
				font-weight: 800;
				color: $color_2;
				width: 55%;
				padding-left: 16px;
			}
		}

	}

	.es-testimonial {
		position: relative;
		padding: 1rem;
		overflow: hidden;
		margin-top: 25px;
	}
	.es-testimonial::before {
		content: "";
		position: absolute;
		bottom: 16px;
		left: 40px;
		background-color: $color_1;
		border-top-left-radius: 16px;
		border-top-right-radius: 16px;
		width: calc(100% - 80px);
		height: 82%;
		background: $color_1;
		z-index: 0;
	}
	.es-testimonial__quotes {
		position: absolute;
		top: 0.5rem;
		right: 50%;
		font-size: 150px;
		transform: rotate(-180deg) translateX(-50%);
		color: $color_1;
		z-index: 1;
	}
	
	.es-testimonial__inner {
		position: relative;
		z-index: 2;
		display: flex;
		flex-direction: column;
		gap: 1rem;
		margin-top: 13%;
		color: $white;
	}
	.es-testimonial__product{
		display: none;
	}
	.es-testimonial__text {
		margin-top: 50px;
		text-align: center;
		max-width: 80%;
		margin-inline: auto;

	}
	.es-testimonial__quote {
		font-size: 16px;
		line-height: 24px;
		font-weight: 500;
		margin-bottom: 16px;
	}
	.es-testimonial__author {
		font-size: 16px;
		line-height: 24px;
		font-weight: 700;
	}
	.es-testimonial__image{
		margin-inline: auto;
	}
	.es-results {
		background-color: $color_3;
		margin-left: auto;
		margin-right: auto;
		position: relative;
	}
	.es-results__BA {
		display: flex;
		flex-direction: column-reverse;
		align-items: center;
		position: relative;
		background-color: $color_3;
		z-index: 3;
	}
	.es-results__figure {
		position: relative;
		width: 100%;
		max-width: 270px;
		margin: auto;
		margin: 0;
	}
	.es-results__imgCtn {
		overflow: hidden;
		max-width: 350px;
		margin: auto;
		img {
			aspect-ratio: 1/1;
			-o-object-fit: contain;
			object-fit: contain;
			transition: all 200ms ease-in-out;
			&:hover {
				scale: 1.1;
			}
		}
	}
	.es-results__BA--text {
		color: $white;
		position: absolute;
		top: 15px;
		display: flex;
		justify-content: space-between;
		width: 100%;
		padding: 8px;
		font-style: italic;
		font-weight: 800;
		font-size: 16px;
	}
	.es-results__desc {
		text-align: center;
		background-color: $color_2;
	}
	.es-results__text--light {
		color: $white;
		font-size: 22px;
		margin: 25px;
		text-wrap: balance;
		font-weight: 400;
	}
	 .es-results__text--bold {
		color: $white;
		font-size: 22px;
		margin: 20px;
		font-weight: 800;
	}
	.es-ingredience__content {
		position: relative;
		background-color: $color_3;
		display: flex;
		justify-content: space-evenly;
		flex-direction: column;
		min-height: 497px;
		margin-top: 15px;
		padding: 0 25px;
		z-index: 0;
	}
	.es-ingredience__content--left {
		margin-top: 30px;
		z-index: 1;
		.es-ingredience__name::before {
			content: "";
			border-bottom: 2px solid #ff7222;
			width: 120%;
			height: 2px;
			position: absolute;
			left: 0;
			bottom: -16px;
			z-index: 1;
		}
	}
	.es-ingredience__content--right {
		margin-bottom: 30px;

		.es-ingredience__name::before {
			content: "";
			border-bottom: 2px solid #ff7222;
			width: 120%;
			height: 2px;
			position: absolute;
			left: 0;
			bottom: -16px;
			z-index: 1;
		}
		
	}
	.es-ingredience__name {
		color: $color_1;
		font-size: 23px;
		line-height: 28px;
		font-weight: 800;
		padding-right: 70px;
		text-transform: uppercase;
		position: relative;
	}
	.es-ingredience__desc {
		max-width: 230px;
		margin: 25px 0;
	}
	.es-ingredience__pill {
		max-height: 497px;
		max-width: unset;
		margin: 20px 0;
		position: absolute;
		right: 0;
		transform: translateX(50%);
		transform-origin: center;


		&:hover {
			scale: 1.05;
		}
	}
	.es-routine {
		margin-top: 50px;
		position: relative;

		&::before{
			content: "";
			background-color: #0c6c2d;
			position: absolute;
			height: 21%;
			width: 100%;
			bottom: -1px;
			z-index: -1;
		}

		.es-routine__Ctn img {
			margin-inline: auto;
		}
	}
	.es-use {
		background-color: $color_2;
		padding: 40px 25px;

		&__slide-3 {
			.es-use__results li {
				list-style: none;
			}
		}

		&__thumb {
			position: relative;
			width: 100%;
			max-width: 300px;
			margin: 0 auto;
			aspect-ratio: 1 / 1;
			background: $white;
		}

		&__number {
			position: absolute;
			top: 10px;
			left: 20px;
			z-index: 1;
			color: $color_2;
			font-size: 30px;
			font-weight: 700;
			font-style: italic;
			text-transform: uppercase;
		}

		&__image {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			max-width: 100%;
			max-height: 100%;
			object-fit: contain;
		}
		&__title {
			font-size: 30px;
			line-height: 30px;
			font-style: italic;
			font-weight: 800;
			text-align: center;
			color: $white;
			max-width: 300px;
    		margin-inline: auto;
			text-transform: uppercase;

			.orange {
				color: $color_1;
			}
		}
		&__desc {
			font-size: 16px;
			line-height: 24px;
			text-align: center;
			color: $white;
			font-weight: 100;
			max-width: 300px;
    		margin-inline: auto;
		}
		&__results {
			list-style: disc inside;
			padding: 0 16px 0 0;
			text-align: center;
			max-width: 300px;
			margin-inline: auto;
			
			li {
				color: $white;
				font-weight: 100;
				.bold {
					font-weight: 400;
				}
				&:first-child {
					list-style-type: none;
					margin-left: 0;
					padding-left: 0;
				}
				&:last-child {
					padding-bottom: 30px;
				}
				
			}
		}
		
	}
	.es-cross__products {
		padding-top: 30px;
		margin: 0 auto;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}
	.es-cross__product {
		width: 163px;
		margin: 0 auto;
		margin-bottom: 32px;
		display: flex;
		flex-flow: column;
		align-items: center;
		&:hover {
			.es-cross__link {
				&::before {
					transform: scaleX(1);
				}
			}
			.es-cross__packshot {
				transform: translateY(-8px);
			}
		}
	}
	.es-cross__packshot {
		transition: transform 0.6s;
		margin-bottom: 16px;
	}
	.es-cross__text {
		margin: 0;
		padding: 0;
		line-height: inherit;
		color: $color_2;
		font-family: $font-family_2;
		font-weight: inherit;
		font-size: 13px;
		font-weight: 700;
		margin-bottom: 15px;
		text-align: center;
		height: 50px;
	}
	.es-cross__link {
		margin: 0;
		padding: 0;
		line-height: inherit;
		color: $white;
		font-family: $font-family_2;
		font-weight: inherit;
		position: relative;
		display: inline-block;
		padding: 16px 45px;
		text-decoration: none;
		font-size: 14px;
		font-weight: 700;
		text-align: center;
		transition: all 0.3s ease-in-out;
		background: $color_1;
		transition: color 0.3s ease-in-out;
		z-index: 1;
		&::before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			bottom: 0;
			right: 0;
			z-index: -1;
			transition: transform 0.3s ease-in-out;
			transform: scaleX(0);
			transform-origin: left;
			background: $color_2;
		}
	}
	.es-cross__img {
		transition: all 0.3s ease-in-out;
		max-height: 250px;
	}
	.es-footer {
		padding-inline: 16px;
		padding-block: 32px;
	}
	.es-footer__text {
		line-height: inherit;
		color: $color_2;
		font-family: $font-family_2;
		font-weight: inherit;
		text-align: center;
		text-wrap: balance;
		font-size: 11px;
		line-height: 16px;
		margin-block: 16px;
	}
	.es-footer__img {
		margin: 0 auto;
		max-width: 150px;
	}
	.es-footer__logo {
		margin-block: 24px;
	}
	.es-footer__wrapper {
		background: linear-gradient(to right, #30663f, #167535, #30663f);
		display: flex;
		flex-wrap: wrap;
		gap: 16px;
		padding: 19px 16px;
		align-items: center;
		justify-content: space-evenly;
	}
}
@media (min-width: 350px) {
	#es-garnier.es-garnier {
		.es-kv {
			&__products-container {
				.es-kv__products-img {
					width: 220px;
				}
			}
		}
	}
}
@media (min-width: 576px) {
	#es-garnier.es-garnier {
		.es-title__orange {
			flex-direction: row;
			font-size: 32px;
			line-height: 1;
		}

		.es-kv {
			&__inner {
				flex-direction: row;
				align-items: flex-end;
				padding-inline: 16px;
			}

			&__hero {
				width: 60%;
				&::before {
					width: 100%;
					left: 0;
				}
				.es-kv__title {
					width: unset;
				}
			}

			&__products-container {
				width: 55%;
				margin-top: 0;
				align-items: flex-end;
				flex-direction: column;
			
				.es-kv__products-img {
					width: 100%;
					max-width: 322px;
				}
				.es-kv__badge {
					margin-top: -10px;
					font-size: 13px;
					padding: 8px;
					width: 100%;
					background-color: $color_2;
					color: $white;
				}
			}
		}
		
		.es-use {
			&__title {
				font-size: 22px;
			}
		}
		.es-results {
			margin-top: 50px;
			margin-inline: 16px;
		}

		.es-results__BA {
			flex-direction: row;
			align-items: center;
		}
		.es-results__desc {
			width: 55%;
			padding: 0;
			margin-right: 25px;
			text-align: center;
		}
		.es-results__text--light {
			font-size: 16px;
		}
		.es-results__text--bold {
			font-size: 16px;
		}

		.es-results__text--black {
			margin-bottom: unset;
		}
		.es-results__img--circle {
			display: block;
			position: absolute;
			z-index: 1;
			width: 180px;
			right: -11%;
			bottom: -66%;
		}
		.es-testimonial::before {
			height: 85%;
		}
		.es-testimonial__quote {
			font-size: 22px;
		}
		.es-testimonial__author {
			font-size: 22px;
		}

		.es-ingredience__content {
			justify-content: space-between;
			flex-direction: row;
			min-height: unset;
			align-items: center;
			margin-inline: 16px;
		}
		.es-ingredience__content--left {
			text-align: left;
			max-width: 50%;
			width: 37%;
			margin-top: 25px;
			margin-bottom: 54px;
			z-index: 1;
		}
		.es-ingredience__content--right {
			text-align: right;
			width: 37%;
			margin-bottom: 50px;
			
			.es-ingredience__name::before {
				left: unset;
				right: 0;
				
			}
		}
		.es-ingredience__name {
			padding: 0;
		}
		.es-ingredience__pill {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			max-height: 120%;
			transition: all 200ms ease-in-out;
			margin: 0;
		}
		.es-routine__img--line {
			display: block;
			position: absolute;
			z-index: 1;
			top: 48%;
			right: 0;
			height: 550px;
		}
		.es-use--step4 {
			.es-use__results--list {
				flex-direction: row;
				justify-content: space-evenly;
			}
		}
		.es-use__green--style--ol {
			margin: 15px 0;
		}

	}
}
@media (min-width: 768px) {
	#es-garnier.es-garnier {
		.es-kv {
			&__hero {
				.es-kv__label{
					font-size: 20px;
				}
				.es-kv__title {
					font-size: 50px;
					line-height: 50px;
				}
				
			}
			&__products-container {
	
				.es-kv__badge {
					font-size: 16px;
				}
			}
			.es-kv__logoCtn--garnier {
					margin-bottom: -32px;
				}
		}

		.es-kv__brading {
			max-width: unset;
		}

		.es-kv__packs {
			max-width: 230px;
		}
		.es-results__desc {
			margin-right: 60px;
		}
		.es-results__text--light {
			font-size: 22px;
		}
		.es-results__text--bold {
			font-size: 22px;
		}
		.es-kv__pill {
			top: 1%;
			right: 28%;
			max-width: 120px;
		}

		.es-testimonial {
		}
		.es-testimonial::before {

			bottom: 16px;
			left: 40px;
			width: calc(100% - 80px);
			height: 85%;
		}
		.es-testimonial__quotes {
			top: 20%;
			color: $white;
			transform: rotate(-180deg) translateX(3vw);
		}
		
		.es-testimonial__inner {
			flex-direction: row;
			justify-content: normal;
			align-items: center;
			margin-top: 0px;
			margin-left: 32px;
		}
		.es-testimonial__product{
			display: block;
			width: 25%;
			position: relative;
			img {
				margin-inline: auto;
				max-height: 400px;
        		margin-top: 100px;
			}
			&::before {
				content: "";
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -20%);
				width: 200px;
				height: 150px;
				background: #fff;
				filter: blur(59px);
				z-index: -1;
			}
		}

		.es-testimonial__text {
			width: 55%;
			position: absolute;
			right: 50%;
			transform: translate(39%, 10%);
		}
		.es-testimonial__quote {
			margin-bottom: 32px;
			font-size: 22px;
			line-height: 35px;
		}
		.es-testimonial__author {
			font-size: 22px;
			line-height: 35px;
		}
		.es-testimonial__image{
			margin-inline: auto 0;
			img {
				max-height: 500px;
			}
		}

		.es-ingredience__content {
			padding: 0 25px;
			margin: 50px 16px;
			justify-content: space-between;
		}
		.es-ingredience__name {
			font-size: 22px;
			line-height: 30px;
		}
		.es-ingredience__pill {
			max-height: 150%;
		}
		
		.es-cross__link {
			padding: 16px 60px;
		}
		.es-footer__img {
			margin-inline: auto;
		}
	}
}
@media (min-width: 870px) {
	#es-garnier.es-garnier {
		.es-kv {
			&__products-container {

				.es-kv__products-img {
					max-width: 400px;

				}
			}
		}

		.es-kv__packsCtn {
			bottom: 8%;
			left: 10%;
		}
	}
}
@media (min-width: 990px) {
	#es-garnier.es-garnier {
		
		.es-kv {
			&__products-container {

				.es-kv__products-img {
					max-width: 500px;

				}
			}
		}

		.es-kv__inner {
			padding-inline: 50px;
		}
		
		.es-kv__right {
			width: 43%;
			position: relative;
			aspect-ratio: 1/1;
		}
		.es-results {
			margin-inline: 50px;
		}
		.es-results__BA--text {
			width: 120%;
		}
		.es-results__imgCtn {
			overflow: hidden;
			max-width: 400px;
			width: 350px;
		}
		.es-results__text--light {
			font-size: 22px;
			margin: 25px 63px;
		}
		.es-testimonial__quote {
			font-size: 30px;
		}
		.es-testimonial__author {
			font-size: 30px;
		}
		.es-ingredience__content {
			align-items: center;
			padding: 0 25px;
			margin: 50px 50px;
		}
		.es-ingredience__name {
		}
		
		.es-ingredience__content {
			margin: 100px 50px;
		}
		.es-ingredience__pill {
			max-height: 200%;
		}
		.es-cross__products {
			padding-inline: 50px;
		}
		.es-cross__product {
		}
		.es-cross__link {
			padding-inline: 80px;
		}
	}
}
@media screen and (min-width: 576px) {
	#es-garnier.es-garnier {
		.es-cross__product {
			justify-content: flex-end;
		}
	}
}